services: 
 webstudio: 
  build: . 
  container_name: webstudio-builder 
  environment: 
   - NODE_ENV=production
   - HOST=0.0.0.0 
   - PORT=3000
   - DATABASE_URL=postgresql://webstudio:rugjaf-zacbo4-fyRpak@10.100.11.169:5432/webstudio

   - OIDC_ISSUER=https://login.infomaniak.com/.well-known/openid-configuration 
   - OIDC_CLIENT_ID=e97a8676-fc42-471f-8506-111f526f96ed
   - OIDC_CLIENT_SECRET=vwxhJkGe2tXh5DqAri88I4xmnfTa2lGem3dzvECanDAA72Nz64i0YuGZB7y2QQsb
   - OIDC_REDIRECT_URI=https://builder.sociarena.com/auth/infomaniak/callback
   - OIDC_SCOPES=openid profile email
  ports:
   - "3000:3000" 
  expose: 
   - "3000"
  restart: always
