services:
  postgres:
    image: postgres:16-alpine
    container_name: webstudio-postgres
    environment:
      - POSTGRES_USER=webstudio
      - POSTGRES_PASSWORD=rugjaf-zacbo4-fyRpak
      - POSTGRES_DB=webstudio
    volumes:
      - postgres_data:/var/lib/postgresql/data
    ports:
      - "5432:5432"
    restart: always
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U webstudio -d webstudio"]
      interval: 10s
      timeout: 5s
      retries: 5

  postgrest:
    image: postgrest/postgrest:v12.2.0
    container_name: webstudio-postgrest
    depends_on:
      postgres:
        condition: service_healthy
    restart: always
    environment:
      PGRST_DB_URI: postgresql://webstudio:rugjaf-zacbo4-fyRpak@webstudio-postgres:5432/webstudio
      PGRST_DB_SCHEMAS: public
      PGRST_DB_ANON_ROLE: webstudio
      PGRST_JWT_SECRET: jwtsecretjwtsecretjwtsecretjwtsecretjwtsecretjwtsecretjwtsecretjwtsecretjwtsecretjwtsecretjwtsecretjwtsecret
      PGRST_DB_USE_LEGACY_GUCS: "false"
      PGRST_APP_SETTINGS_JWT_SECRET: jwtsecretjwtsecretjwtsecretjwtsecretjwtsecretjwtsecretjwtsecretjwtsecretjwtsecretjwtsecretjwtsecretjwtsecret
    ports:
      - "3001:3000"

volumes:
  postgres_data:
